
.active{
    background-color:moccasin;
    color: red;
}
.projected{
    background-color:rgb(192, 243, 192);
    color:black;
}
option{
    background-color: whitesmoke;
    color:black;
}
